*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    /* background: linear-gradient(45deg ,rgb(0, 0, 0) ,rgb(0, 0, 0)); */
    color: aliceblue;
    text-align: center;
}

.input-box{
    width: 800px;
    height: 35px;
    display: flex;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.205);
    border-radius:20px ;
    /* border-bottom-right-radius: 5px; */
    margin-bottom: 20px;
    border-color:aqua ;
}

#input-field{
    width: 100%;
    height: 35px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0);
    color: rgb(214, 245, 253);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: aqua;
}
#input-btn{
    padding: 10px 12px;
    background-color: rgb(128, 238, 220);
    border: none;
    /* border-top-right-radius:20px ;
    border-bottom-right-radius: 20px; */
    border-radius: 50%;
    cursor: pointer;
}

.mini-btn{
    margin-top: 18px;
}

span{
    margin: 10px 5px;
    margin-top: 200px;
    background-color: rgba(240, 248, 255, 0.24);
    padding: 5px 10px;
    border-radius: 5px;

}

@media screen and (max-width:1000px) {
    .input-box{
        width: 100%;
    }
    span{
        margin: 10px 5px;
        margin-top: 200px;
        background-color: rgba(240, 248, 255, 0.096);
        padding: 5px 10px;
        border-radius: 5px;
    font-size: 12px;
    }
    
} 

h1{
    text-align: center;
    margin-bottom: 30px;
}
    

.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(214, 249, 252);
}
/* .descript{
    background-color: aliceblue;
} */
.b1{
    background-color: rgba(240, 248, 255, 0.24);
    /* border: none; */
    color: aliceblue;
    height: 20px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
        border-color: aqua;
    }

    .inp{
        width: 1840px;
        margin-top: 2px;
        display: flex;
        justify-content: right;
        border-radius: 20px;
        /* border: none; */
        background-color: rgba(35, 35, 36, 0.959);
        color: aliceblue;
        justify-items: right;
        display: flex;
        margin: 0px;
        
    }
    .inp::placeholder{
        color: aliceblue;
        margin-left: 2px;
    }
    #uk{
        background-color: rgba(69, 73, 77, 0.158);
        display: flex;
        color: aliceblue;
        border-radius:20px;
        border-color: aqua;
        margin-top: 4px;
        margin-right: 5px;
    }
    .mk{
        display: flex;
        background-color: rgba(71, 71, 71, 0.589);
        border-radius: 20px;
    }
    #ur{
        border-radius: 50%;
        width: 20px;
        background-color: rgba(69, 73, 77, 0.158);
        /* display: flex; */
        color: aliceblue;
        /* border-radius:20px; */
        border-color: aqua;
        margin-top: 4px;
        /* margin-right: 5px; */
    }
    button{
        cursor: pointer;
    }
    .qr{
        border-radius: 50%;
        width: 20px;
        background-color: rgba(69, 73, 77, 0.158);
        /* display: flex; */
        color: aliceblue;
        /* border-radius:20px; */
        border-color: aqua;
        margin-top: 4px;
        /* margin-right: 5px; */
    }